<div class="flex justify-center items-center h-full">
    <form class="w-full max-w-sm" [formGroup]="form" (submit)="onConfirmSignUp()">
      <h4 class="text-center text-3xl font-bold mb-6">Inserisci il codice di verifica</h4>
      <mat-form-field class="w-full">
        <mat-label>Username</mat-label>
        <input matInput type="text" placeholder="Username" formControlName="username">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Codice di conferma</mat-label>
        <input matInput type="confirmationCode" placeholder="codice di conferma" formControlName="confirmationCode">
        <mat-icon matSuffix>confirmation_number</mat-icon>
      </mat-form-field>
      <div class="flex justify-end">
        <button mat-raised-button color="primary" type="submit">Verifica</button>
      </div>
    </form>
  </div>