<div class="flex justify-center items-center h-full">
  <form class="w-full max-w-sm" [formGroup]="form" (ngSubmit)="onConfirmSignUp()">
    <h4 class="text-center text-3xl font-bold mb-6">Inserisci il codice di verifica</h4>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput type="text" placeholder="Username" formControlName="username" required>
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="form.get('username')?.hasError('required')">Username obbligatorio</mat-error>
    </mat-form-field>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Codice di conferma</mat-label>
      <input matInput type="text" placeholder="codice di conferma" formControlName="confirmationCode" required>
      <mat-icon matSuffix>confirmation_number</mat-icon>
      <mat-error *ngIf="form.get('confirmationCode')?.hasError('required')">Codice di conferma è obbligatori</mat-error>
    </mat-form-field>
    <div class="flex justify-end">
      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Verifica</button>
    </div>
  </form>
</div>