/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; display: flex; flex-direction: column; }

.main-container {
  margin-left: 10%;
  margin-right: 10%;
  flex: 1;
}

.mail-viewer-container {
  margin-left: 0;
  margin-right: 10%;
}

.div-sopra {
  margin-bottom: 120px;
}

.div-sotto {
  margin-top: 100px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.max-w-350 {
  max-width: 350px;
}

.mdc-notched-outline__notch {
  border-right: none;
}

.my-card {
  margin-top: 100px; 
  padding: 20px;
}

.select-field {
  width: 150px;
  margin-right: 16px;
}

.text-field {
  flex: 1;
  margin-right: 16px;
}

.search-bar {
  display: flex;
  align-items: start;
}

.search-button {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-space {
  padding-left: 10px;
}

.remove-from-folder-button {
  margin-left: auto;
}

.presentation-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.presentation-container h2 {
  color: #333;
}

.presentation-container h3 {
  color: #555;
}

.presentation-container p, .presentation-container ul {
  color: #666;
}

.home-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.confirmed {
  font-weight: bold;
  color: green;
}

/* stili per la pagina del profilo */
.profile-container {
  max-width: 600px;
  margin-top: 64px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-container h2 {
  text-align: center;
  color: #333;
}

.profile-details {
  margin-top: 20px;
}

.profile-details p {
  font-size: 18px;
  color: #555;
}

.profile-details .confirmed {
  color: green;
}

.change-password-link {
  display: block;
  font-size: 18px;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
}

.change-password-link:hover {
  text-decoration: underline;
}

