<div class="flex justify-center items-center h-full p-6">
  <div class="w-full max-w-sm flex flex-col gap-6 h-full">
    <h4 class="text-center text-3xl font-bold mb-6">Recupero password</h4>
    
    <ng-container *ngIf="step === 1">
      <form class="w-full flex flex-col gap-6" [formGroup]="primoForm" (ngSubmit)="onRequestCode()">
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Email" formControlName="email" required>
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="primoForm.get('email')?.hasError('required')">Email obbligatoria</mat-error>
          <mat-error *ngIf="primoForm.get('email')?.hasError('email')">Email non valida</mat-error>
        </mat-form-field>
        <div class="flex justify-end">
          <button mat-flat-button color="primary" type="submit" [disabled]="primoForm.invalid">Ricevi codice</button>
        </div>
      </form>
    </ng-container>

    <ng-container *ngIf="step === 2">
      <form class="w-full flex flex-col gap-6" [formGroup]="secondoForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Codice di conferma</mat-label>
          <input matInput type="text" placeholder="Codice di conferma" formControlName="confirmationCode" required>
          <mat-icon matSuffix>confirmation_number</mat-icon>
          <mat-error *ngIf="secondoForm.get('confirmationCode')?.hasError('required')">Codice di conferma obbligatorio</mat-error>
        </mat-form-field>
        <mat-form-field class="w-full mb-36" appearance="outline">
          <mat-label>Nuova password</mat-label>
          <input matInput type="password" placeholder="Nuova password" formControlName="newPassword" required>
          <mat-icon matSuffix>lock</mat-icon>
          <mat-hint class="text-sm mt-4">
            La password deve contenere:
            <ul class="list-disc pl-5 mt-2 space-y-1">
              <li>Almeno 8 caratteri</li>
              <li>Almeno un numero (0-9)</li>
              <li>Almeno un carattere speciale (!&#64;#$%^&*)</li>
              <li>Almeno una lettera maiuscola (A-Z)</li>
              <li>Almeno una lettera minuscola (a-z)</li>
            </ul>
          </mat-hint>
          <mat-error *ngIf="secondoForm.get('newPassword')?.hasError('required')">Nuova password obbligatoria</mat-error>
          <mat-error *ngIf="secondoForm.get('newPassword')?.hasError('minlength')">La password deve essere di almeno 6 caratteri</mat-error>
        </mat-form-field>
        <div class="flex justify-end">
          <button mat-flat-button color="primary" type="submit" [disabled]="secondoForm.invalid">Invia</button>
        </div>
      </form>
    </ng-container>
  </div>
</div>