<div class="mx-4 my-4 flex justify-between div-sopra">
    <div class="add-button">
        <button mat-fab extended [matMenuTriggerFor]="dropdownMenu" >
            <mat-icon>add</mat-icon>
            Aggiungi
        </button>
        
        <mat-menu #dropdownMenu="matMenu">
            <button mat-menu-item [routerLink]="['/add-mail']">da testo</button>
            <button mat-menu-item (click)="fileInput.click()">da file .eml</button>
        </mat-menu>
        <input #fileInput type="file" (change)="onFileSelected($event)" accept=".eml" style="display: none"/>
      </div>
      
    <div class="search-bar">
        <mat-form-field appearance="fill" class="select-field" [subscriptSizing]="'dynamic'" style="border-radius: 12px; overflow: hidden;">
            <mat-label>Filtra per</mat-label>
            <mat-select [(value)]="selectedOption">
                <mat-option value="all">Tutto</mat-option>
                <mat-option value="sender">Mittente</mat-option>
                <mat-option value="topic">Argomento</mat-option>
                <mat-option value="used_terms">Parole chiave</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="text-field" [subscriptSizing]="'dynamic'" style="border-radius: 12px; overflow: hidden;">
            <mat-label>Cerca</mat-label>
            <input matInput [(ngModel)]="searchText" placeholder="Inserisci testo" required>
        </mat-form-field>

        <button mat-fab color="primary" class="search-button" (click)="getUserEmailsOrSearchBy(getSearchOptionValue(selectedOption), searchText)">
            <mat-icon>search</mat-icon>
        </button>
    </div>
</div>
<div class="div-sotto">
    <p>Elenco delle mail</p>
    <mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>
    <div *ngIf="!isLoading">
        <div *ngFor="let email of paginatedEmails" style="padding-top: 20px;">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>{{ email.sender }}</mat-panel-title>
                    <mat-panel-description>{{ email.subject }}</mat-panel-description>
                </mat-expansion-panel-header>
                <pre style="white-space: pre-wrap;">{{ email.body }}</pre>
            </mat-expansion-panel>
        </div>
        <div style="padding-top: 40px;">
            <mat-paginator style=" border-radius: 12px; overflow: hidden;"
                    [length]="emails.length"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="[1, 5, 10, 25]"
                    (page)="onPageChange($event)"
                    aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</div>


