<div class="mx-4 my-4 flex justify-between div-sopra">
    <div class="add-button">
        <button mat-fab extended [matMenuTriggerFor]="dropdownMenu" >
            <mat-icon>add</mat-icon>
            Aggiungi
        </button>
        
        <mat-menu #dropdownMenu="matMenu">
            <button mat-menu-item [routerLink]="['/add-mail']">da testo</button>
            <button mat-menu-item (click)="fileInput.click()">da file .eml</button>
        </mat-menu>
        <input #fileInput type="file" (change)="onFileSelected($event)" accept=".eml" style="display: none"/>
      </div>
      
    <div class="search-bar">
        <mat-form-field appearance="fill" class="select-field" [subscriptSizing]="'dynamic'">
            <mat-label>Filtra per</mat-label>
            <mat-select [(value)]="selectedOption">
                <mat-option value="all">Tutto</mat-option>
                <mat-option value="sender">Mittente</mat-option>
                <mat-option value="topic">Argomento</mat-option>
                <mat-option value="used_terms">Parole chiave</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="text-field" [subscriptSizing]="'dynamic'">
            <mat-label>Cerca</mat-label>
            <input matInput [(ngModel)]="searchText" placeholder="Inserisci testo" required>
        </mat-form-field>

        <button mat-fab color="primary" class="search-button" (click)="getUserEmailsOrSearchBy(getSearchOptionValue(selectedOption), searchText)">
            <mat-icon>search</mat-icon>
        </button>
    </div>
</div>
<div class="div-sotto">
    <p>Test</p>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> <p>mario.rossi&#64;example.com</p> </mat-panel-title>
            <mat-panel-description> <p>Proposta di collaborazione</p> </mat-panel-description>
        </mat-expansion-panel-header>
        <pre>
            Caro Signor Bianchi,
            Mi chiamo Mario Rossi e rappresento la società Innovatech. Siamo interessati a discutere una possibile collaborazione con la vostra azienda per un progetto innovativo nel settore delle tecnologie verdi. Crediamo che la vostra esperienza e competenza possano essere di grande valore per il successo del progetto.
            Saremmo lieti di organizzare un incontro per discutere i dettagli e valutare le opportunità di collaborazione. Potrebbe gentilmente indicarci la sua disponibilità per la prossima settimana?
            In attesa di un suo gentile riscontro, le porgo i miei più cordiali saluti.
            Cordiali saluti,
            Mario Rossi
            Innovatech
        </pre>
    </mat-expansion-panel>
</div>
<p>Email effettive dell'utente</p>
<div *ngFor="let email of emails">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>{{ email.sender }}</mat-panel-title>
            <mat-panel-description>{{ email.subject }}</mat-panel-description>
        </mat-expansion-panel-header>
        <pre>{{ email.body }}</pre>
    </mat-expansion-panel>
</div>